.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tagSelector {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.3rem;
  gap: 0.5rem;
  border-bottom: 1px var(--color-gray-500) solid;
}  
.tagSelector h4 {
  margin: 0;
  min-width: 4.5rem;
}
.tagSelector ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  flex-shrink: 1;
}
