.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tagSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.8rem 1.3rem;
  gap: 0.5rem;
  border-bottom: 1px var(--color-gray-400) solid;
}  
.tagSelector h4 {
  margin: 0;
  min-width: 4.5rem;
}
.tagSelector ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  flex-shrink: 1;
}

.tagChildSelector {
  background-color: var(--color-gray-100);
}

@media (max-width: 500px) {
  .tagSelector {
    flex-direction: column;
    align-items: flex-start;
    h4 {
      margin: 0.2rem 0 0.4rem 0;
    }
  }
}

.tagAccordion {
  transition: all 0.5s ease;
}