.jobListSortBar {
  display: flex;
  padding: 0.7em;
  color: var(--color-gray-200);
  gap: 0.3em;
  background-color: var(--color-gray-100);
  border-bottom: 0.1rem solid var(--color-gray-400);
}
.jobListSortBar li {
  display: flex;
  gap: 0.3em;
}

.jobListCard {
  display: flex;
  flex-direction: row;
  padding: 1rem 1.2rem 1rem 1.2rem;
  border-bottom: 0.1rem solid var(--color-gray-400);
  gap: 1rem;

  img {
    object-fit: cover;
    min-width: 8rem; max-width: 8rem;
    min-height: 6rem; max-height: 6rem;
    border-radius: 0.8rem;
  }
}
.jobListCard:hover {
  background-color: var(--color-gray-150);
}

.jobListCardText h3 {
  margin: 0 0.1rem 0 0.1rem;
}
.jobListCardText h5 {
  font-weight: 400;
  margin: 0.3rem 0.1rem 0.6rem 0.1rem;
}
