.communityComment {
  display: flex;
  flex-direction: row;
  padding: 1rem 1.3rem;
  gap: 0.7rem;
  border-top: 1px solid var(--color-gray-400);
  position: relative;
}

.communityCommentMoreButton {
  position: absolute;
  top: -0.4rem;
  right: -0.7rem;
  width: 2rem;
  height: 2rem;
}

.communityCommentContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.4rem;
  align-items: flex-start;

  h4, p {
    margin: 0;
  }
}

.communityCommentNameTitle {
  display: flex;
  flex-direction: row;
}

.communityCommentTextField {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.8rem;
  padding: 1.3rem;
  border-top: 1px solid var(--color-gray-400);
}

.communityReply {
  padding-left: 2.4rem;
  background-color: var(--color-gray-150);
}