.chatPage {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 0.7rem !important; 
  margin: 1.3rem 0; 
}

.chatMain {
  display: flex;
  flex-grow: 2;
  border-top: 1px solid var(--color-gray-400);
}

.chatList {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.chatListSm {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.chatContent {
  display: flex;
  flex-direction: column;
  flex-grow: 5;
  justify-content: space-between;
  border-left: 1px solid var(--color-gray-400);
}
.chatContent p {
  display: flex;
  align-items: center;
  justify-content: center;
}