.portfolioThumbnail {
  overflow: hidden;
}
.portfolioThumbnail img {
  width: 100%;
  height: auto;
  transform: scale(1);
  transition: all 0.25s linear;
}
.portfolioThumbnail img:hover {
  opacity: 0.9;
  transform: scale(1.2);
}