.content {
  padding: 0 1.3rem;
  padding-top: 1.3rem;
  text-align: start;
}

.list {
  display: flex;
  gap: 2rem 0.5rem;
}
.list li {
  height: 2rem;
  display: flex;
  align-items: center;
}
.list input {
  margin: 0;
  padding: 0.2rem;
  width: 70vw;
}

.contextButtonList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.tab button:hover {
  background-color: var(--color-gray-150);
}
.tabList {
  border-bottom: 1px solid var(--color-gray-400);
}

.avatarButton,
.avatarButton div:hover {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
}

.profileIcon {
  color: var(--color-gray-900);
}
