.editor {
  display: flex;
  flex-direction: column;
}

.editorMenuBar {
  display: flex;
  padding: 0.3em;
  gap: 0.3em;
  color: var(--color-gray-200);
  border-bottom: 0.1rem solid var(--color-gray-500);
}
.editorMenuBar button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gray-900);
  background-color: transparent;
  width: 2em;
  height: 2em;
  border: 0;
  padding: 0;
}
.editorMenuBar button:hover {
  background-color: var(--color-gray-200);
  border: 0.1rem solid var(--color-gray-500);
  border-radius: 0.4rem;
}