.header {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 0 0 0.7rem 0.7rem !important;
  font-weight: 500;
  padding: 0.7rem 1.3rem;
}

.list {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.list a {
  display: flex;
  text-decoration: none;
  color: var(--color-gray-900);
}
.list a:hover,
.list a.active {
  color: var(--color-primary-600);
}

.buttonList {
  display: flex;
  align-items: center;
  gap: 0.4em;
}
.buttonList button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeBtn {
  font-size: 2rem;
}

.registerBtn {
  color: var(--color-gray-900);
  padding: 0.5rem 1rem;
  border-radius: 12px;
  background-color: var(--color-primary-300);
}
.registerBtn:hover,
.registerBtnActive {
  color: var(--color-gray-900) !important;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  background-color: var(--color-primary-400);
}

.navIcon {
  color: var(--color-gray-900)
}