@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

#root {
  font-family: Pretendard, system-ui, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100dvh;

  color-scheme: light dark;
  color: var(--color-gray-900);
  background-color: var(--color-gray-100);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-gray-100: #f3f3f3;
  --color-gray-150: #e8e8e8;
  --color-gray-200: #e0e0e0;
  --color-gray-300: #ccc9c6;
  --color-gray-400: #aeaba7;
  --color-gray-500: #8a8784;
  --color-gray-600: #656360;
  --color-gray-700: #4b4a47;
  --color-gray-800: #31302e;
  --color-gray-900: #1f1d1b;

  --color-primary-100: #EDE7F6;
  --color-primary-200: #D1C4E9;
  --color-primary-300: #B39DDB;
  --color-primary-400: #9575CD;
  --color-primary-500: #7E57C2;
  --color-primary-600: #673AB7;
  --color-primary-700: #512DA8;
  --color-primary-800: #4527A0;
  --color-primary-900: #311B92;
}

body {
  margin: 0;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  max-width: 1000px;
}

input {
  margin: 0.5em 0;
  border-radius: 0.4em;
  border: 1px solid var(--color-gray-400);
  padding: 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--color-gray-900);
  background-color: var(--color-gray-100);
  cursor: pointer;
  transition: border-color 0.25s;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Basic editor styles */
.tiptap {
  /* Youtube embed */
  div[data-youtube-video] {
    cursor: move;

    iframe {
      border: 0.3rem solid black;
      min-height: 200px;
      min-width: 200px;
      outline: 0px solid transparent;
    }

    &.ProseMirror-selectednode iframe {
      outline: 0.3rem solid var(--color-primary-500);
      transition: outline 0.15s;
    }
  }
}
.ProseMirror {
  outline: none;
  padding: 0.3rem 1rem;
}
.ProseMirror ul {
  list-style: disc;
  margin: auto;
  padding: 1rem;
}
.ProseMirror p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.MuiTab-root {
  font-family: '';
}