.jobTagArea {
  border-top: 1px solid var(--color-gray-500);
}

.jobPostArea p {
  margin: 0;
  padding: 1.3rem;
  border-bottom: 1px solid var(--color-gray-500);
}

.jobPageArea {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-bottom: 1px solid var(--color-gray-500);
}

.jobPostTitleArea {
  padding: 1.3rem;
  border-bottom: 1px solid var(--color-gray-500);

  h2, h3 {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.jobPostPtfArea {
  padding: 1.3rem;
  border-bottom: 1px solid var(--color-gray-500);

  h3 {
    margin-top: 0;
    margin-bottom: 1.3rem;
  }
}

.jobPortfolioThumbnail {
  overflow: hidden;
  position: relative;
  border: 1px solid var(--color-gray-500);
}
.jobPortfolioThumbnail img {
  aspect-ratio: 1 / 1;
  transform: scale(1);
  transition: all 0.25s ease;
}
.jobPortfolioThumbnail:hover img {
  transform: scale(1.02);
}

.jobPostInfoArea {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--color-gray-500);
}
.jobPostInfoAreaBox {
  width: 50%;
  padding: 1.3rem 1.3rem 1rem 1.3rem;

  p {
    margin: 0;
    min-width: 3.5rem;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}
.jobPostInfoAreaRow {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0.3rem 0 0.3rem 0;
  font-size: 0.9rem;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}
.jobPostInfoAreaInputRow {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.3rem 0 0.3rem 0;
  font-size: 0.9rem;

  input {
    width: 1rem;
    flex-grow: 3;
  }
}

.jobPostDescArea {
  padding: 0.3rem 1.3rem;
  min-height: 10rem;
  flex-grow: 1;
}

.jobPostBtnArea {
  display: flex;
  justify-content: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  border-bottom: 1px solid var(--color-gray-500);
}


.editTitleArea {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0.2rem 1.2rem 1.3rem 1.2rem;
}
.editTitleArea h3 {
  margin: 0 0.1rem 0.3rem 0.1rem;
  padding: 0;
}

.editTagArea h3 {
  padding: 1.3rem 1.3rem 0.3rem 1.3rem;
  margin: 0;
  border-top: 1px solid var(--color-gray-500);
}

.editDescArea {
  display: flex;
  flex-direction: column;
}
.editDescArea h3 {
  margin: 1.3rem 1.3rem 0.9rem 1.3rem;
  padding: 0;
}
.editDescArea textarea {
  resize: vertical;
  min-height: 10rem;
  margin: 0.5rem 1.3rem;
  padding: 0.5rem;
  color: var(--color-gray-900);
  background-color: var(--color-gray-150);
}

.editBtnArea {
  display: flex;
  justify-content: flex-end;
  padding: 0.7rem 1.3rem;
  gap: 0.7rem;
}

.editor {
  margin: 0.7rem 1.3rem;
  border: 1px solid var(--color-gray-500);
  min-height: 20rem;
}